p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
  background-color: white;
}

pre{
  background-color: white;
  box-shadow: 5px 5px 0 #DDD;
  padding: 10px;
  line-height: 2em;
  margin-bottom: 1em;
  word-wrap: normal;
  word-break: normal;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
}

pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}

/* Callouts */
.callout {
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  border-left: 5px solid #e9ecef;
  margin-bottom: 1rem;
  padding: 1rem;
}

.callout a {
  color: #495057;
  text-decoration: underline;
}

.callout a:hover {
  color: #e9ecef;
}

.callout p:last-child {
  margin-bottom: 0;
}

.callout.callout-danger {
  border-left-color: #bd2130;
}

.callout.callout-warning {
  border-left-color: #d39e00;
}

.callout.callout-info {
  border-left-color: #117a8b;
}

.callout.callout-success {
  border-left-color: #1e7e34;
}

/* Add rounded corners to the top left and the top right corner of the image */
img { 
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 25px 10px 50px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 25px 10px 50px 0px rgba(0,0,0,0.75);
  box-shadow: 25px 10px 50px 0px rgba(0,0,0,0.75);
}

td.img {  
  width:30%; padding: 10px;
}
