.Rproj.user
.Rhistory
.RData
.Ruserdata
**/.DS_store
.vscode
docs/outstanding-shiny-ui.epub
docs/outstanding-shiny-ui.pdf
docs/outstanding-shiny-ui.tex
_bookdown_files/outstanding-shiny-ui-cache/html/*